.friendList {
    margin: 0px auto ;
    width: 450px;
    padding: 0;
  }
  
  .friendItem {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: var(--primary-background-color);
  }
  
  .friendItem:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid rgb(221, 221, 221);
  }
  
  .isOnline {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: green;
  }
  .isOffline {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: red;
  }
  .name {
    font-weight: 700;
    font-size: 22px;
  }